VITE_APP_API_URL=http://localhost:8080/api
VITE_APP_ENABLE_API_MOCKING=true
VITE_APP_APP_URL=http://localhost:3000
VITE_APP_MOCK_API_PORT=8080
VITE_APP_OIDC_AUTHORITY=http://localhost:8080
VITE_APP_OIDC_CLIENT_ID=agri-vite-client
VITE_APP_OIDC_REDIRECT_URI=http://localhost:3000/auth/callback
VITE_APP_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:3000/
VITE_APP_OIDC_SCOPE=openid profile email offline_access
VITE_APP_OIDC_SILENT_REDIRECT_URI=http://localhost:3000/silent-renew.html
VITE_EMAIL_ADDRESS=your-email@example.com
