{
  "openapi": "3.1.0",
  "info": {
    "title": "EduConnect Laravel API",
    "version": "1.0.0",
    "description": "Core API for EduConnect"
  },
  "servers": [
    {
      "url": "http://api.toanrobert.online/api"
    }
  ],
  "paths": {
    "/admin/academic-years": {
      "get": {
        "operationId": "academic-years.index",
        "summary": "Display a listing of the resource",
        "tags": [
          "AcademicYear"
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "academic-years.store",
        "summary": "Store a newly created resource in storage",
        "tags": [
          "AcademicYear"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreAcademicYearRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/admin/academic-years/{academicYear}": {
      "get": {
        "operationId": "academic-years.show",
        "summary": "Display the specified resource",
        "tags": [
          "AcademicYear"
        ],
        "parameters": [
          {
            "name": "academicYear",
            "in": "path",
            "required": true,
            "description": "The academic year ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "put": {
        "operationId": "academic-years.update",
        "summary": "Update the specified resource in storage",
        "tags": [
          "AcademicYear"
        ],
        "parameters": [
          {
            "name": "academicYear",
            "in": "path",
            "required": true,
            "description": "The academic year ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "academic-years.destroy",
        "summary": "Remove the specified resource from storage",
        "tags": [
          "AcademicYear"
        ],
        "parameters": [
          {
            "name": "academicYear",
            "in": "path",
            "required": true,
            "description": "The academic year ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "operationId": "auth.register",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Registration successful. Please check your email for verification."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "email": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "const": "UNVERIFIED"
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "status"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "auth.login",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Refresh token được trả qua HttpOnly cookie (chống XSS), KHÔNG nằm trong body.\nAccess token (15 phút) frontend lưu in-memory và gửi qua Authorization: Bearer.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Login successful!"
                        },
                        "access_token": {
                          "type": "string"
                        },
                        "expires_in": {
                          "type": "string"
                        },
                        "token_type": {
                          "type": "string",
                          "const": "Bearer"
                        },
                        "data": {
                          "$ref": "#/components/schemas/LoginResource"
                        }
                      },
                      "required": [
                        "message",
                        "access_token",
                        "expires_in",
                        "token_type",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "requires_2fa": {
                          "type": "boolean"
                        },
                        "pre_auth_token": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "requires_2fa",
                        "pre_auth_token"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "attempts_left": {
                      "type": "string"
                    },
                    "requires_captcha": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "attempts_left",
                    "requires_captcha"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "An unexpected error occurred during login."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "operationId": "auth.forgotPassword",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "An unexpected error occurred."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "operationId": "auth.resetPassword",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "token không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "An unexpected error occurred."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/email/verify": {
      "post": {
        "operationId": "auth.verifyEmail",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Email verified successfully."
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "An unexpected error occurred."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "operationId": "auth.refresh",
        "summary": "Cấp lại access token bằng refresh token (đọc từ HttpOnly cookie).\nEndpoint này KHÔNG yêu cầu Bearer token vì access token có thể đã hết hạn",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Token refreshed"
                    },
                    "access_token": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string",
                      "const": "Bearer"
                    },
                    "data": {
                      "$ref": "#/components/schemas/LoginResource"
                    }
                  },
                  "required": [
                    "message",
                    "access_token",
                    "expires_in",
                    "token_type",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Refresh token not provided"
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "An unexpected error occurred."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "operationId": "auth.user",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "email": {
                          "type": "string"
                        },
                        "profile": {
                          "$ref": "#/components/schemas/ProfileResource"
                        },
                        "roles": {
                          "type": "string"
                        },
                        "permissions": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "profile",
                        "roles",
                        "permissions"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Could not retrieve user information."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "auth.logout",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Successfully logged out"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "An error occurred during logout."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout/all": {
      "post": {
        "operationId": "auth.logoutAll",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Logged out from all devices"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "An error occurred during logout."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/conduct-scores/my": {
      "get": {
        "operationId": "conductScore.my",
        "summary": "GET /api/conduct-scores/my - Điểm hạnh kiểm của tôi (Student/Parent)",
        "tags": [
          "ConductScore"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "My conduct scores retrieved successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConductScoreResource"
                      }
                    },
                    "count": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "count"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Error fetching conduct scores"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/conduct-scores/class/{classId}": {
      "get": {
        "operationId": "conductScore.byClass",
        "summary": "GET /api/conduct-scores/class/{classId} - Điểm của cả lớp",
        "tags": [
          "ConductScore"
        ],
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "semester",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "academic_year_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Class conduct scores retrieved successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConductScoreResource"
                      }
                    },
                    "count": {
                      "type": "string"
                    },
                    "filters": {
                      "type": "object",
                      "properties": {
                        "class_id": {
                          "type": "integer"
                        },
                        "semester": {},
                        "academic_year_id": {}
                      },
                      "required": [
                        "class_id",
                        "semester",
                        "academic_year_id"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "count",
                    "filters"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Error fetching class conduct scores"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/conduct-scores/student/{studentId}": {
      "get": {
        "operationId": "conductScore.byStudent",
        "description": "Query Parameters (Optional):\n- semester: int (1 hoặc 2) - Nếu không có, trả về tất cả\n- academic_year_id: int - Nếu không có, trả về tất cả",
        "summary": "GET /api/conduct-scores/student/{studentId} - Điểm của một học sinh",
        "tags": [
          "ConductScore"
        ],
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "semester",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "academic_year_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Student conduct scores retrieved successfully"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ConductScoreResource"
                          }
                        },
                        "count": {
                          "type": "string"
                        },
                        "filters": {
                          "type": "object",
                          "properties": {
                            "student_id": {
                              "type": "integer"
                            },
                            "semester": {},
                            "academic_year_id": {}
                          },
                          "required": [
                            "student_id",
                            "semester",
                            "academic_year_id"
                          ]
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "count",
                        "filters"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Student conduct score retrieved successfully"
                        },
                        "data": {
                          "$ref": "#/components/schemas/ConductScoreResource"
                        }
                      },
                      "required": [
                        "message",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Không tìm thấy điểm hạnh kiểm"
                    },
                    "filters": {
                      "type": "object",
                      "properties": {
                        "student_id": {
                          "type": "integer"
                        },
                        "semester": {},
                        "academic_year_id": {}
                      },
                      "required": [
                        "student_id",
                        "semester",
                        "academic_year_id"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "filters"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Error fetching student conduct scores"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/conduct-scores": {
      "post": {
        "operationId": "conductScore.store",
        "summary": "POST /api/conduct-scores - Tạo conduct score mới\nPermissions: admin, principal, teacher (homeroom)",
        "tags": [
          "ConductScore"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "student_id": {
                    "type": "integer"
                  },
                  "semester": {
                    "type": "integer"
                  },
                  "academic_year_id": {
                    "type": "integer"
                  },
                  "total_penalty_points": {
                    "type": "integer"
                  },
                  "teacher_comment": {
                    "type": "string",
                    "maxLength": 1000
                  }
                },
                "required": [
                  "student_id",
                  "semester",
                  "academic_year_id"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Conduct score created successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConductScoreResource"
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Error creating conduct score"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/conduct-scores/{conductScoreId}": {
      "put": {
        "operationId": "conductScore.update",
        "summary": "PUT /api/conduct-scores/{conductScore} - Cập nhật điểm hạnh kiểm\nPermissions: teacher (homeroom)",
        "tags": [
          "ConductScore"
        ],
        "parameters": [
          {
            "name": "conductScoreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "teacher_comment": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "total_penalty_points": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Conduct score updated successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConductScoreResource"
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Error updating conduct score"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/conduct-scores/{conductScoreId}/approve": {
      "post": {
        "operationId": "conductScore.approve",
        "summary": "POST /api/conduct-scores/{conductScore}/approve - Phê duyệt điểm hạnh kiểm\nPermissions: admin, principal",
        "tags": [
          "ConductScore"
        ],
        "parameters": [
          {
            "name": "conductScoreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "dd($conductScore);",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Conduct score approved successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConductScoreResource"
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Error approving conduct score"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/conduct-scores/recalculate": {
      "post": {
        "operationId": "conductScore.recalculate",
        "summary": "POST /api/conduct-scores/recalculate - Tính lại điểm hạnh kiểm và thống kê báo cáo kỷ luật\nPermissions: admin, principal",
        "tags": [
          "ConductScore"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "semester": {
                    "type": "integer",
                    "enum": [
                      "1",
                      "2"
                    ]
                  },
                  "academic_year_id": {
                    "type": "integer"
                  },
                  "class_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "student_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  }
                },
                "required": [
                  "semester",
                  "academic_year_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Conduct scores recalculated and discipline report generated successfully"
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Error recalculating conduct scores"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dashboard": {
      "get": {
        "operationId": "dashBoard.index",
        "tags": [
          "DashBoard"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Dashboard data service successfully"
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/disciplines": {
      "get": {
        "operationId": "discipline.index",
        "summary": "GET /api/disciplines - Danh sách kỷ luật",
        "tags": [
          "Discipline"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      },
      "post": {
        "operationId": "discipline.store",
        "summary": "POST /api/disciplines - Tạo bản ghi mới",
        "tags": [
          "Discipline"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreDisciplineRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Bản ghi kỷ luật đã được tạo thành công"
                    },
                    "data": {
                      "$ref": "#/components/schemas/DisciplineResource"
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/disciplines/my": {
      "get": {
        "operationId": "discipline.my",
        "summary": "GET /api/disciplines/my - Kỷ luật của tôi/con tôi",
        "tags": [
          "Discipline"
        ],
        "parameters": [
          {
            "name": "student_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/disciplines/class/{classId}": {
      "get": {
        "operationId": "discipline.byClass",
        "summary": "GET /api/disciplines/class/{classId} - Kỷ luật theo lớp",
        "tags": [
          "Discipline"
        ],
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/disciplines/statistics": {
      "get": {
        "operationId": "discipline.statistics",
        "summary": "GET /api/disciplines/statistics - Thống kê",
        "tags": [
          "Discipline"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/disciplines/student/{studentId}": {
      "get": {
        "operationId": "discipline.byStudent",
        "summary": "GET /api/disciplines/student/{studentId} - Kỷ luật của một học sinh",
        "tags": [
          "Discipline"
        ],
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/disciplines/export": {
      "get": {
        "operationId": "discipline.export",
        "summary": "GET /api/disciplines/export - Export Excel/PDF",
        "tags": [
          "Discipline"
        ],
        "responses": {
          "501": {
            "description": "TODO: Implement export functionality",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Export feature coming soon"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/disciplines/{discipline}": {
      "get": {
        "operationId": "discipline.show",
        "summary": "GET /api/disciplines/{id} - Chi tiết bản ghi",
        "tags": [
          "Discipline"
        ],
        "parameters": [
          {
            "name": "discipline",
            "in": "path",
            "required": true,
            "description": "The discipline ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`DisciplineResource`",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DisciplineResource"
                    },
                    {
                      "type": "object",
                      "required": [
                        "actions",
                        "appeals"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Bạn không có quyền xem bản ghi này"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "put": {
        "operationId": "discipline.update",
        "summary": "PUT /api/disciplines/{id} - Cập nhật",
        "tags": [
          "Discipline"
        ],
        "parameters": [
          {
            "name": "discipline",
            "in": "path",
            "required": true,
            "description": "The discipline ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDisciplineRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Bản ghi đã được cập nhật"
                    },
                    "data": {
                      "$ref": "#/components/schemas/DisciplineResource"
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "discipline.destroy",
        "summary": "DELETE /api/disciplines/{id} - Xóa (soft)",
        "tags": [
          "Discipline"
        ],
        "parameters": [
          {
            "name": "discipline",
            "in": "path",
            "required": true,
            "description": "The discipline ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Bản ghi đã được xóa"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Bạn không có quyền xóa bản ghi này"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/disciplines/{discipline}/approve": {
      "post": {
        "operationId": "discipline.approve",
        "summary": "POST /api/disciplines/{id}/approve - Duyệt (discipline HOẶC appeal)",
        "tags": [
          "Discipline"
        ],
        "parameters": [
          {
            "name": "discipline",
            "in": "path",
            "required": true,
            "description": "The discipline ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewDisciplineRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Bản ghi kỷ luật đã được duyệt thành công."
                    },
                    "data": {
                      "$ref": "#/components/schemas/DisciplineResource"
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Các trạng thái khác (confirmed, cancelled...) không thể duyệt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Bản ghi này không ở trạng thái có thể duyệt."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/disciplines/{discipline}/reject": {
      "post": {
        "operationId": "discipline.reject",
        "summary": "POST /api/disciplines/{id}/reject - Từ chối (discipline HOẶC appeal)",
        "tags": [
          "Discipline"
        ],
        "parameters": [
          {
            "name": "discipline",
            "in": "path",
            "required": true,
            "description": "The discipline ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewDisciplineRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Bản ghi kỷ luật đã bị từ chối."
                    },
                    "data": {
                      "$ref": "#/components/schemas/DisciplineResource"
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Các trạng thái khác không thể từ chối",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Bản ghi này không ở trạng thái có thể từ chối."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/disciplines/{discipline}/appeal": {
      "post": {
        "operationId": "discipline.appeal",
        "summary": "POST /api/disciplines/{id}/appeal - Khiếu nại",
        "tags": [
          "Discipline"
        ],
        "parameters": [
          {
            "name": "discipline",
            "in": "path",
            "required": true,
            "description": "The discipline ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppealDisciplineRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Khiếu nại đã được gửi thành công"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Không thể tạo khiếu nại"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/discipline-types": {
      "get": {
        "operationId": "disciplineType.index",
        "summary": "GET /api/discipline-types - Danh sách loại vi phạm",
        "tags": [
          "DisciplineType"
        ],
        "parameters": [
          {
            "name": "is_active",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "severity_level",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "string",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      },
      "post": {
        "operationId": "disciplineType.store",
        "summary": "POST /api/discipline-types - Tạo loại mới (Admin only)",
        "tags": [
          "DisciplineType"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "maxLength": 50
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "severity_level": {
                    "type": "string",
                    "enum": [
                      "light",
                      "medium",
                      "serious",
                      "very_serious"
                    ]
                  },
                  "default_penalty_points": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 50
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "code",
                  "name",
                  "severity_level",
                  "default_penalty_points"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Loại vi phạm đã được tạo thành công"
                    },
                    "data": {
                      "$ref": "#/components/schemas/DisciplineTypeResource"
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Unauthorized"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/discipline-types/{disciplineType}": {
      "get": {
        "operationId": "disciplineType.show",
        "summary": "GET /api/discipline-types/{id} - Chi tiết loại vi phạm",
        "tags": [
          "DisciplineType"
        ],
        "parameters": [
          {
            "name": "disciplineType",
            "in": "path",
            "required": true,
            "description": "The discipline type ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`DisciplineTypeResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisciplineTypeResource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "put": {
        "operationId": "disciplineType.update",
        "summary": "PUT /api/discipline-types/{id} - Cập nhật (Admin only)",
        "tags": [
          "DisciplineType"
        ],
        "parameters": [
          {
            "name": "disciplineType",
            "in": "path",
            "required": true,
            "description": "The discipline type ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "maxLength": 50
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "severity_level": {
                    "type": "string",
                    "enum": [
                      "light",
                      "medium",
                      "serious",
                      "very_serious"
                    ]
                  },
                  "default_penalty_points": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 50
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Loại vi phạm đã được cập nhật"
                    },
                    "data": {
                      "$ref": "#/components/schemas/DisciplineTypeResource"
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Unauthorized"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "disciplineType.destroy",
        "summary": "DELETE /api/discipline-types/{id} - Xóa (Admin only)",
        "tags": [
          "DisciplineType"
        ],
        "parameters": [
          {
            "name": "disciplineType",
            "in": "path",
            "required": true,
            "description": "The discipline type ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Loại vi phạm đã được xóa"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Không thể xóa loại vi phạm đang được sử dụng. Hãy vô hiệu hóa thay vì xóa."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Unauthorized"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/my-grades": {
      "get": {
        "operationId": "grade.myGrades",
        "tags": [
          "Grade"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "student_id": {
                            "type": "string"
                          },
                          "student_name": {
                            "type": "string"
                          },
                          "data": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/GradeResource"
                            }
                          }
                        },
                        "required": [
                          "student_id",
                          "student_name",
                          "data"
                        ]
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "student_id": {
                          "type": "string"
                        },
                        "student_name": {
                          "type": "string"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/GradeResource"
                          }
                        }
                      },
                      "required": [
                        "student_id",
                        "student_name",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "minItems": 0,
                          "maxItems": 0,
                          "additionalItems": false
                        }
                      },
                      "required": [
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/grades": {
      "get": {
        "operationId": "grades.index",
        "summary": "Display a listing of the resource",
        "tags": [
          "Grade"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "grades.store",
        "summary": "Store a newly created resource in storage",
        "tags": [
          "Grade"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreGradeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`GradeResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/GradeResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/grades/{grade}": {
      "get": {
        "operationId": "grades.show",
        "summary": "Display the specified resource",
        "tags": [
          "Grade"
        ],
        "parameters": [
          {
            "name": "grade",
            "in": "path",
            "required": true,
            "description": "The grade ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`GradeResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/GradeResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "put": {
        "operationId": "grades.update",
        "summary": "Update the specified resource in storage",
        "tags": [
          "Grade"
        ],
        "parameters": [
          {
            "name": "grade",
            "in": "path",
            "required": true,
            "description": "The grade ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`GradeResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/GradeResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "grades.destroy",
        "summary": "Remove the specified resource from storage",
        "tags": [
          "Grade"
        ],
        "parameters": [
          {
            "name": "grade",
            "in": "path",
            "required": true,
            "description": "The grade ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Grade deleted successfully"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/permissions": {
      "get": {
        "operationId": "permission.index",
        "summary": "GET /api/admin/permissions\nLấy danh sách permissions với phân trang",
        "tags": [
          "Permission"
        ],
        "responses": {
          "200": {
            "description": "Array of `PermissionResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PermissionResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Failed to retrieve permissions"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/permissions/{id}": {
      "get": {
        "operationId": "permission.show",
        "summary": "GET /api/admin/permissions/{id}\nLấy chi tiết một permission",
        "tags": [
          "Permission"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Permission retrieved successfully"
                        },
                        "data": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/permissions": {
      "post": {
        "operationId": "permission.store",
        "summary": "POST /api/admin/permissions\nTạo permission mới",
        "tags": [
          "Permission"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorePermissionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Permission created successfully"
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/admin/permissions/{id}": {
      "put": {
        "operationId": "permission.update",
        "summary": "PUT /api/admin/permissions/{id}\nCập nhật permission",
        "tags": [
          "Permission"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePermissionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Permission updated successfully"
                        },
                        "data": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "permission.destroy",
        "summary": "DELETE /api/admin/permissions/{id}\nXóa permission",
        "tags": [
          "Permission"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Permission deleted successfully"
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/roles": {
      "get": {
        "operationId": "role.index",
        "summary": "GET /api/admin/roles\nLấy danh sách roles",
        "tags": [
          "Role"
        ],
        "responses": {
          "200": {
            "description": "Array of `RoleResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RoleResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Failed to retrieve roles"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "role.store",
        "summary": "POST /api/admin/roles\nTạo role mới",
        "tags": [
          "Role"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreRoleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Role created successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/RoleResource"
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/roles/{role}": {
      "get": {
        "operationId": "role.show",
        "summary": "GET /api/admin/roles/{id}\nLấy chi tiết 1 role",
        "tags": [
          "Role"
        ],
        "parameters": [
          {
            "name": "role",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SỬ DỤNG RESOURCE ĐỂ ĐỊNH DẠNG RESPONSE",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Role retrieved successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/RoleResource"
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Role not found"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/roles/{id}": {
      "put": {
        "operationId": "role.update",
        "summary": "PUT /api/admin/roles/{id}\nCập nhật role",
        "tags": [
          "Role"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trả về 200 OK với message thông báo, vì đây không phải là lỗi",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "type": "string",
                          "description": "Có thể trả về dữ liệu hiện tại của role"
                        }
                      },
                      "required": [
                        "message",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Role updated successfully"
                        },
                        "data": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Invalid role ID"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "role.destroy",
        "summary": "DELETE /api/admin/roles/{id}\nXóa role",
        "tags": [
          "Role"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Role deleted successfully"
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Invalid role ID"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/roles/{id}/permissions": {
      "get": {
        "operationId": "role.getRolePermissions",
        "summary": "GET /api/admin/roles/{id}/permissions\nLấy danh sách permissions của role",
        "tags": [
          "Role"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Role permissions retrieved successfully"
                        },
                        "data": {
                          "type": "string"
                        },
                        "total": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "total"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Invalid role ID"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/roles/{roleId}/permissions": {
      "post": {
        "operationId": "role.assignPermissions",
        "summary": "Gán thêm các quyền cho một vai trò.\nPOST /api/admin/roles/{roleId}/permissions",
        "tags": [
          "Role"
        ],
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignPermissionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "4. Trả về JsonResponse hoàn chỉnh",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Một số quyền đã được gán, một số khác bị bỏ qua vì đã tồn tại."
                        },
                        "data": {
                          "$ref": "#/components/schemas/RoleResource"
                        },
                        "details": {
                          "type": "string",
                          "description": "Dùng đối tượng Role để tạo Resource"
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "details"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/admin/roles/{roleId}/permissions/{permissionId}": {
      "delete": {
        "operationId": "role.removePermission",
        "summary": "DELETE /api/admin/roles/{id}/permissions/{permissionId}\nXóa permission khỏi role",
        "tags": [
          "Role"
        ],
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
[...]
